body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.navbar-nav .nav-link:hover {
    color: #8A9787 !important;
}

.outer-headings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.inner-headings {
    border: 0px solid #ddd;
    height: 10vh;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
}

.inner-headings span {
    position: relative;
    color: #8A9787;
    animation: animation 10s ease infinite;
}

@keyframes animation {
    0%,
    100% {
        top: 0;
    }
    20% {
        top: 0;
    }
    25% {
        top: -50px;
    }
    45% {
        top: -50px;
    }
    50% {
        top: -100px;
    }
    70% {
        top: -100px;
    }
    75% {
        top: -150px;
    }
    95% {
        top: -150px;
    }
}

#IamA {
    font-size: 45px !important;
}
